body{
    background: #62306D;
    margin: 0px;
  }
  div {
    width: 100px;
    height: 100px;
    background: #F7EC7D;
  }
  .down {
     border-radius: 0% 0% 50% 50%;
  }
  .circle1 {
    margin-left:50px;
    margin-top: 150px;
  }
  .circle2 {
    position: relative;
    left: 150px;
    bottom: 200px;
    border-radius: 50% 50% 0% 0%    
  }
  .circle3 {
    margin-top: -200px;
    margin-left: 250px;

  }